<ion-content [style.visibility]="content_visibility">

  <ion-card color="light">
    <ion-card-content>
      <div class="ion-padding ion-text-center">
        <qrcode [qrdata]="qrString" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="ion-margin" (click)="startScan()">ScanQR</ion-button>

  <ion-item *ngIf="scannedResult">
    <ion-label class="ion-text-wrap">{{scannedResult}}</ion-label>
  </ion-item>

</ion-content>